<div id="<%= dom_id customer %>">
  <div class="row mb-0">
    <div class="col-md-12">
      <small class="m-0 text-muted">Customer Name:</small>
      <h2 class=" text-capitalize"><%= customer.full_name %></h2>
    </div>

    <div class="col-md-12 mb-3">
      <small class="m-0 text-muted">Status:</small>
      <%= (customer.active? ? '<span class="badge bg-success">Active</span>' : '<span class="badge bg-danger">Inactive</span>').html_safe %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <small class="m-0 text-muted">Phone number:</small>
      <p class="p-0 m-0 text-capitalize fw-bold"><%= customer.phone_number %></p> 
    </div>
    <div class="col-md-6">
      <small class="m-0 text-muted">Email:</small>
      <p class="p-0 m-0 text-capitalize fw-bold"><%= customer.email %></p>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col-md-6">
      <small class="m-0 text-muted">Date of birth:</small>
      <p class="p-0 m-0 text-capitalize fw-bold"><%= customer.date_of_birth.strftime("%B %d, %Y") %></p> 
    </div>
    <div class="col-md-6">
      <small class="m-0 text-muted">Date added:</small>
      <p class="p-0 m-0 text-capitalize fw-bold"><%= customer.created_at.strftime("%B %d, %Y") %></p> 
    </div>
  </div>

  <hr>
</div>
