<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h5>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name, class: "form-control form-control-sm"  %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, class: "form-control form-control-sm" %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number, class: "form-control form-control-sm" %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class: "form-control form-control-sm" %>
  </div>

  <div class="mb-3">
    <%= form.label :date_of_birth, class: "form-label" %>
    <%= form.date_field :date_of_birth, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Save Customer", class: "btn btn-sm btn-primary" %>
  </div>
<% end %>
