<% content_for :title, "Customers" %>
  <div>
    <p style="color: green"><%= notice %></p>
    <div class="mb-3">
      <h6 class="my-2 text-center">CUSTOMERS</h6>
    </div>

    <div id="customers">
      <div>
        <table id="customersTable" class="table table-striped">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Phone Number</th>
              <th>Status</th>
              <th>Date of Birth</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td class="text-capitalize"><%= customer.full_name %></td>
                <td><%= customer.phone_number %></td>
                <td><%= (customer.active? ? '<span class="badge bg-success">Active</span>' : '<span class="badge bg-danger">Inactive</span>').html_safe %></td>
                <td><%= customer.date_of_birth.present? ? customer.date_of_birth.strftime("%B %d, %Y") : "N/A" %></td>
                <td>
                  <%= link_to "Show", customer, class: "btn btn-sm btn-primary" %>
                  <%= link_to "Edit", edit_customer_path(customer), class: "btn btn-sm btn-secondary" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>      
      </div>

    </div>

    <!-- <%= link_to "New Customer", new_customer_path, class: "btn btn-sm btn-primary mt-3" %> -->
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#customersTable').DataTable();
  });
</script>



